.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 40px;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.no-courses {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.option-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.option-bar-button {
    margin-bottom: 19px;
}

@media (max-width: 710px) {
    .option-bar-button {
        margin-left: 10px;
    }
}
