.buttons {
    background: #007298;
    border-radius: 4px;
    border-color: transparent;
    padding: 0px 20px;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.course-info-back-btn {
    width: fit-content;
    margin-left: 70px;
}

.buttons:has(svg) {
    width: fit-content;
    height: 100%;
}

.buttons p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-transform: uppercase;
}

@media (max-width: 340px) {
    .buttons p  {
        font-size: 10px;
    }
}

@media (max-width: 470px) {
    .create-author p {
        font-size: 10px;
    }
}

.icon {
    font-size: 25px;
    color: white;
}