.course-info-container {
    display: flex;
    flex-direction: column;
    height: 170vh;
    width: 100%;
}

.course-info-container h2{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333E48;
    margin-left: 50px;
}

.course-info-box {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 70px;
}

@media (max-width: 900px) {
    .course-info-box {
        flex-direction: column;
    }
}

.course-info-description {
    margin: 20px 30px;
}

@media (max-width: 500px) {
    .course-info-description {
        margin: 20px;
    }
}

.course-info-description h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333E48;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 450px) {
    .course-info-description h3 {
        font-size: 17px;
    }
}

.course-info-description p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #333E48;
}

@media (max-width: 450px) {
    .course-info-description p {
        font-size: 13px;
    }
}

.course-info-metadata {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    border-left: 1px solid #bdbebc;
    margin: 40px 30px;
    padding-left: 25px;
    min-width: 0;
}

@media (max-width: 900px) {
    .course-info-metadata {
        border-left: none;
        border-top: 1px solid #bdbebc;
        margin-top: 0px;
        padding-left: 0px;
    }
}

.course-info-metadata p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #333E48;
    min-width: 0;
}

@media (max-width: 450px) {
    .course-info-metadata p {
        font-size: 13px;
    }
}

.course-info-metadata p b {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #333E48;
    display: inline-block;
    min-width: 120px;
}

@media (max-width: 450px) {
    .course-info-metadata p b {
        font-size: 17px;
        min-width: 80px;
    }
}

@media (max-width: 400px) {
    .course-info-metadata p b {
        display: block;
    }
}

.course-info-metadata span {
    color: #333E48;
    font-weight: 700;
    padding-right: 4px;
}

.course-info-metadata p:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}

.course-info-metadata p:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
